body {
    font-family: 'Arial', sans-serif;
}

.text-gold {
    color: #b8860b;
}

.btn-gold {
    background-color: #b8860b;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-gold:hover {
    background-color: #ffcc00;
    color: #000;
}

.bg-dark {
    background-color: #1c1c1c;
}

.border-gold {
    border-color: #b8860b;
}

.bg-black {
    background-color: #121212;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
}
