body {
    font-family: 'Arial', sans-serif;
}

.text-gold {
    color: #b8860b;
}

.btn-gold {
    background-color: #b8860b;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-gold:hover {
    background-color: #ffcc00;
    color: #000;
}

.btn-outline-gold {
    color: #b8860b;
    border-color: #b8860b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-gold:hover {
    background-color: #b8860b;
    color: #fff;
}

.border-gold {
    border-color: #b8860b;
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(255, 215, 0, 0.5); /* Arany színű árnyék */
}
